.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.note-button {
  padding-top: 1px;
  background-color: #f4c2c2;
  color: white;
  font-size: 28px; 
  width: 35px; 
  height: 35px; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}


.color1{
  background-color: #f4c2c2;
  color: white;
}


.color2{
  background-color: #C33F3F ;
  color: white;
}


.color3{
  background-color: #c17c74;
  color: white;
}


.appBackground {
  background-color: #fffafa;
}


.no-color{
  color: #e9dbdb;
  font-size: 15px;
}

.new-color{
  color: #C33F3F;
  font-size: 20px;
}

